Examples
*.docx
*.pptx
/Coding Exercises/Chapter_18/Exercise_18_20/Exercise20/target/
/Coding Exercises/Chapter_21/target/
/Coding Exercises/Chapter_21/nbproject/
/Coding Exercises/WelcomeSOAPClient/nbproject/private/
/Coding Exercises/WelcomeSOAPClient/build/
*.iml
*.idea
out
